# /etc/sysconfig/docker
#
# Other arguments to pass to the docker daemon process
# These will be parsed by the sysv initscript and appended
# to the arguments list passed to docker -d

###other_args="-b=br0 -H 127.0.0.1:4243 --selinux-enabled=false "
other_args="-H 127.0.0.1:4243 --selinux-enabled=false "
